*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
.fondobio{

    background-image: url("fondo.biologia.jpg");
    
    background-repeat: no-repeat;
}
    
    
    body{
    
    background-image: url("fondo.jpg");
    
    background-repeat: no-repeat;
    
    }
    .fondoreli{
        background-image: url("fondo16.jpg");
    
        background-repeat: no-repeat;
        

    }

    .fondosoci{
        background-image: url("sociales.123.jpg");
        
        background-repeat: no-repeat;

    
    }
    
    .fondomate{
        background-image: url("fondomate.webp");
    
        background-repeat: no-repeat;

    }
    
    .fondoingles{
        background-image: url("fondo.ingles.jpg");
    
        background-repeat: no-repeat;
    }
    
        
     .fondotecno{
        background-image: url("fondotecno.jpg");
    
        background-repeat: no-repeat;
    }
    
    
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .textosociales{
    
    font-size: 25px;
    
    text-align: justify;
    
    color: rgb(34, 27, 27);
    
     
    
    }
    

    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .imagentecno{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("medellin.jpeg");
        
        }
        
        
        
        .textobiologia{
        
        text-align: justify;
        
        color: rgb(250, 198, 198);
        
        font-size: 40px;
    }
    .textomatematicas{
        
        text-align: justify;
        
        color: rgb(15, 15, 15);
        
        font-size: 35px;
    }
    .textoingles{
        
        text-align: justify;
        
        color: rgb(250, 198, 198);
        
        font-size: 30px;
    }
    .textoreligion{
        
        text-align: justify;
        
        color: rgb(15, 15, 15);
        
        font-size: 28px;
    }
    .textotecno{

        text-align: justify;

        color: black;

        font-size: 28px;
    }
        